* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --clr-main: rgb(155, 27, 214);
    --clr-secondary: rgb(255, 196, 0);
    --clr-text: white;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--clr-main);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(232, 21, 252), rgb(0, 183, 255));
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, rgb(246, 151, 255), rgb(0, 63, 88));
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;

    background-color: white;
    color: var(--clr-text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.5em 8em;
    background-color: rgb(86, 0, 121);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
    z-index: 4;
}

#logo {
    width: 40px;
    transition: 0.3s;
}

#logo:hover {
    transform: scale(1.2);
}

.burger {
    display: none;
    z-index: 2;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 1em 2em;
    transition: 0.6s;
    color: var(--clr-text);
}

nav a:nth-child(1),
nav a:nth-child(2) {
    border-right: 1px solid grey;
}

nav a:hover {
    color: rgb(255, 230, 0);
}

@media (max-width: 800px) {
    body.lock {
        overflow: hidden;
    }

    body.lock > header {
        height: 100%;
    }

    header {
        padding: 1em 2em;
        padding: 0;
        font-size: 0.8rem;
        width: 100%;
        background-color: initial;
        backdrop-filter: none;
        align-items: flex-start;
        flex-direction: column;
        z-index: 5;
    }

    .head {
        width: 100%;
        padding: 0.5em 1.5em;
        background-color: var(--clr-main);

        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }

    nav {
        font-size: 1.5rem;
        background-color: var(--clr-secondary);
        height: 100%;
        width: 100%;
        top: -100%;
        position: relative;
        transition: 0.3s;
    }

    .menu {
        z-index: 1;
        display: none;
        overflow: hidden;
    }

    .menu.active {
        top: 0;
        display: initial;
        z-index: 5;
    }

    nav a:nth-child(1),
    nav a:nth-child(2) {
        border-right: none;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        text-decoration: underline var(--clr-main) 3px;
        color: var(--clr-text);
        background-color: var(--clr-main);
        border-radius: 0.5em;
        padding: 0.5em;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .burger::before,
    .burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s;
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }

    .burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .burger span {
        position: absolute;
        background-color: white;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
    }

    .burger.active span {
        display: none;
    }
}

/* ----------- HOME --------- */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    background-image: url("Roxy_Theater.jpg");
    background-size:cover;
    background-position: center;
}

@media (max-width: 800px) {
    #home {
        background-position: center;
    }
}

#home::before {
    position: absolute;
    content: '';
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#home .title-statement {
    overflow: hidden;
    position: relative;
}

#home .title-statement h1 {
    font-size: 3em;
    padding: 0.5em;
    position: relative;
    color: var(--clr-main);
    text-align: center;
    text-shadow: 0 0 10px var(--clr-main), 0 0 20px var(--clr-main), 0 0 40px var(--clr-main), 0 0 80px var(--clr-main), 0 0 120px var(--clr-main);

    background-color: transparent;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 0 0.5em 0 var(--clr-main), 0 0 0.5em 0 var(--clr-main);

    border: 0.1em solid var(--clr-main);
    border-radius: 0.2em;

    z-index: 2;
}

/* -------------- THEATER ------------ */

#theater,
#cinema {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    height: 100%;
}

#theater {
    background: linear-gradient(to bottom, rgb(66, 0, 92), rgb(78, 0, 88));
}

#cinema {
    background: linear-gradient(to bottom, rgb(78, 0, 88), rgb(93, 1, 129));
}

#theater h2,
#cinema h2 {
    border-top: 2px solid var(--clr-secondary);
    border-bottom: 2px solid var(--clr-secondary);
    padding: 1em 0;
    width: 100%;
    text-align: center;
}

#theater .card-wrapper,
#cinema .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    margin: 2em;

    position: relative;
}

@media (max-width: 800px) {
    #theater .card-wrapper,
    #cinema .card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-inline: 0.1em;
        margin-top: 1em;
    }
}

#theater .card,
#cinema .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    margin-top: 2em;
}

@media (max-width: 800px) {
    #theater .card,
    #cinema .card {
        height: initial;
        margin-block: 1em;
        order: 1;
    }
}

#theater .card img,
#cinema .card img {
    border: 10px double var(--clr-secondary);
    width: 500px;
    height: 750px;
}

@media (max-width: 800px) {
    #theater .card img,
    #cinema .card img {
        width: 300px;
        height: 450px;
    }
}

#theater .card > p,
#cinema .card > p {
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    #theater .card p,
    #cinema .card p {
        margin-top: -0.5em;
    }
}

#theater .container,
#cinema .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    box-shadow: inset 0 0 0.5em 0 var(--clr-main), 0 0 0.5em 0 var(--clr-main);
    border: 0.2em solid var(--clr-main);
    border-radius: 0.5em;

    height: 87%;
    padding-inline: 4em;
    padding-top: 2em;
    margin-inline: 1em;

    position: relative;
}

@media (max-width: 800px) {
    #theater .container,
    #cinema .container {
        padding-block: 1em;
        padding-inline: 0em;
        margin: 0;
        height: 100%;
        text-align: justify;
        order: 2;
    }
}

#theater .text,
#cinema .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

#theater .card p:nth-child(2),
#cinema  .card p:nth-child(2) {
    font-size: 2em;
    margin-bottom: 0.5em;
}

#theater .text p:nth-child(1),
#cinema .text p:nth-child(1) {
    padding-inline: 1em;
    margin-bottom: 1em;

    font-size: 1.3rem;
    text-align: center;
}

#theater .text button,
#cinema .text button {
    font-size: 1.3rem;
    padding: 0.3em 1em;
    margin-bottom: 2em;
    position: relative;
    transform-style: preserve-3d;
    z-index: 3;

    border: var(--clr-main) solid 3px;
    transition: 0.3s;
}

@media (max-width: 800px) {
    #theater .text button,
    #cinema .text button {
        z-index: 4;
    }
}

#theater .text button::before,
#cinema .text button::before {
    position: absolute;
    display: block;
    content: '';
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: 0;
    right: 0;
    background-color: var(--clr-secondary);
    visibility: hidden;
    transition: 0.2s;
    transform: translateZ(-1px);

    z-index: -1;
}

#theater .text button:hover,
#cinema .text button:hover {
    transform: translate(-5%, 10%);
}

#theater .text button:hover::before,
#cinema .text button:hover::before {
    visibility: visible;
    transform: translate(5%, -15%) translateZ(-1px);
}

#theater img,
#cinema img {
    width: 20em;
    height: 30em;

    margin-bottom: 2em;
    border-radius: 0.5em;
}

#theater .films,
#cinema .films {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10em;
}

@media (max-width: 800px) {
    #theater .films,
    #cinema .films {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        row-gap: 1em;
    }
}

#theater .films div,
#cinema .films div {
    /*height: 90%;*/
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#theater .films div img,
#cinema .films div img {
    /*height: 80%;*/
    height: 250px;
    /*width: 120%;*/
    width: 175px;

    border: 10px double var(--clr-secondary);
    box-shadow: inset 0 0 1em 0 var(--clr-secondary), 0 0 2em 0 var(--clr-secondary);
}

#theater .films div p,
#cinema .films div p {
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
}

@media (max-width: 800px) {
    #theater .films div p,
    #cinema .films div p {
        margin-top: -0.9em;
    }
}

.card-wrapper + span {
    width: 50%;
    background-color: grey;
    height: 1px;
    margin-block: 2em;
}

footer {
    padding: 2em 5em;
    background: rgb(50, 0, 70);
    color: var(--clr-text);
}

@media (max-width: 800px) {
    footer {
        padding: 1em 2em;
        z-index: 4;
    }

    footer .wrap {
        z-index: 4;
    }

    footer .section {
        z-index: 4;
    }
}

footer .wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
}

footer .section h2 {
    color: var(--clr-secondary);
}

footer .section ul {
    flex-direction: column;
}

footer .section ul li a {
    color: var(--clr-text); 
    text-decoration: none;
    transition: 0.2s;
}

footer .section ul li a:hover {
    color: var(--clr-secondary);
}

.copyright {
    background-color: rgb(46, 0, 63);
    color: var(--clr-text);
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.up {
    position: fixed;
    background-color: var(--clr-main);
    right: 20px;
    bottom: 20px;

    width: 100px;
    height: 100px;
    border-radius: 50%;

    opacity: 0.5;
    transition: 0.3s;
}

.up:hover {
    opacity: 1;
}

.up img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .up {
        right: 10px;
        bottom: 10px;
        z-index: 5;
    }

    .up,
    .up img {
        width: 50px;
        height: 50px;
    }
}

.hide {
    display: none;
}
